section
	.contacts
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfc
					.breadcrumbs
						span
							a(href="/")
								span Home
						span Contact Us
					form
						h3 Contact GSK Law
						.input
							input(placeholder="Name" type="text")
						.input
							input(placeholder="Email" type="text")
						.input
							input(placeholder="Subject" type="text")
						.textarea
							textarea(placeholder="How may we help you?")
						.input
							input.button(type="submit" value="Request consultation")
		#map-contacts(data-lat="43.768295", data-lng="-79.475158" data-google-link="https://goo.gl/maps/5M9nm3trrD4MyP3Q9" data-title="HEAD OFFICE" data-address="1120 Finch Avenue West, Unit 202 Toronto, ON M3J 3H7" data-phone="416-661-0001" data-fax="416-661-0060" data-email="info@gsklaw.ca")
