section
	.thank
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12.dfc
					h1 Thank you for your request
						br
						| we will contact you within 24 hours
					a.button.icon-home(href="/") Homepage
