
<section>
  <div class="contacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dfc">
          <div class="breadcrumbs"><span><a href="/"><span>Home</span></a></span><span>Contact Us</span></div>
          <form>
            <h3>Contact GSK Law</h3>
            <div class="input">
              <input placeholder="Name" type="text"/>
            </div>
            <div class="input">
              <input placeholder="Email" type="text"/>
            </div>
            <div class="input">
              <input placeholder="Subject" type="text"/>
            </div>
            <div class="textarea">
              <textarea placeholder="How may we help you?"></textarea>
            </div>
            <div class="input">
              <input class="button" type="submit" value="Request consultation"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="map-contacts" data-lat="43.768295" data-lng="-79.475158" data-google-link="https://goo.gl/maps/5M9nm3trrD4MyP3Q9" data-title="HEAD OFFICE" data-address="1120 Finch Avenue West, Unit 202 Toronto, ON M3J 3H7" data-phone="416-661-0001" data-fax="416-661-0060" data-email="info@gsklaw.ca"></div>
  </div>
</section>
