
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="left-block">
          <form>
            <h3>Contact GSK Law Firm</h3>
            <div class="input">
              <input type="text" placeholder="Name"/>
            </div>
            <div class="input">
              <input type="email" placeholder="Email"/>
            </div>
            <div class="input">
              <input type="text" placeholder="Subject"/>
            </div>
            <div class="textarea">
              <textarea placeholder="How may we help you?"></textarea>
            </div>
            <div class="input">
              <input class="button" type="submit" value="Request Consultation"/>
            </div>
          </form>
        </div>
        <div class="right-block">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a class="logo" href="/"><img src="img/logo.svg" alt=""/></a>
          <div class="block">
            <h3>Head office</h3><a href="#">1120 Finch Avenue West, Unit 202<br/>Toronto, ON M3J 3H7</a>
            <ul>
              <li>PHONE:<a href="tel:4166610001"> 416-661-0001</a></li>
              <li>FAX:<a href="fax:4166610060">416-661-0060</a></li>
              <li>EMAIL:<a href="mailto:info@gsklaw.ca">info@gsklaw.ca</a></li>
            </ul>
          </div>
          <div class="block">
            <h3>Site Map</h3>
            <ul>
              <li><a href="#">Our Firm</a></li>
              <li><a href="#">Practice Areas</a></li>
              <li><a href="#">Our People</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="block">
            <h3>Practice Areas</h3>
            <ul>
              <li><a href="#">Auto Accidents</a></li>
              <li><a href="#">Disability Claims</a></li>
              <li><a href="#">Slip and Fall</a></li>
              <li><a href="#">Brain and Spinal Injuries</a></li>
              <li><a href="#">Commercial Litigation</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
