
<header>
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dfr">
          <ul class="dfr">
            <li class="icon-phone"><a href="tel:4166610001">416-661-0001</a></li>
            <li class="icon-calendar">MONDAY - FRIDAY  9AM - 5PM</li>
          </ul>
          <p>Toronto Personal Injury Lawyers</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dfr"><a class="logo" href="/"><img src="img/logo.svg"/></a>
          <div class="burger-menu"><span></span><span></span><span></span></div>
          <ul class="menu dfr">
            <li><a href="#">Home</a></li>
            <li><a href="#">Our firm</a></li>
            <li class="menu-item-has-children"><a href="#">Practice areas</a>
              <ul>
                <li><a href="#">Auto Accidents</a></li>
                <li><a href="#">Disability Claims</a></li>
                <li><a href="#">Slip and Fall</a></li>
                <li><a href="#">Brain and Spinal Injuries</a></li>
                <li><a href="#">Commercial Litigation</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Our people</a>
              <ul>
                <li><a href="#">Auto Accidents</a></li>
                <li><a href="#">Disability Claims</a></li>
                <li><a href="#">Slip and Fall</a></li>
                <li><a href="#">Brain and Spinal Injuries</a></li>
                <li><a href="#">Commercial Litigation</a></li>
              </ul>
            </li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Contact us</a></li>
          </ul><a class="button icon-phone" href="tel:4166610001">416-661-0001</a>
        </div>
      </div>
    </div>
  </div>
</header>
