doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Test Pug Page
		link(href="css/main.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,700,900|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet")
		//(if lt IE 9)
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		//(endif)
	body.inner-page
		include layout/header.pug
		include layout/team-member-content.pug
		include layout/footer.pug

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiSqq1pexHGvlSEj3vv8Uu957SZGcIYZg&amp;callback=initMap")
		script(src="js/build.js")
